/*------------------------------------------------ colors */

.bg-color-title {
    background-color: #7e93b6;
}

.bg-color-sub-title {
    background-color: #E06148;
}

/*------------------------------------------------ Text Elements */

h3 {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    text-align: center;
    margin: auto;
    color: #fddd72;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: #fddd72;
}

em {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

/*------------------------------------------------ header */

body {
    background-image: url(../images/);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
}

.coach-title {
    margin: 0;
    height: 160px;
    font-family: "Lexend" sans-serif;
    font-weight: 400;
    font-size: 50px;
    padding-top: 40px;
    padding-left: 40px;
    color: #fddd72;
}

.sub-title {
    margin: 0;
    height: 160px;
    padding-left: 40px;
    padding-top: 55px;
    font-size: 35px;
    font-family: "Roboto";
    font-weight: 400;
    color: #fddd72;
}

.logo {
    height: 320px;
    width: 100%;
    margin: auto;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

#navbar {
    background-color: #303333;
    font-size: 0;
}

#navbar ul{
    height: auto;
    margin: 0;
    padding: 0;
}

#navbar li {
    font-size: 20px;
}

.hvr-shutter-out-horizontal {
    background-color: #303333;
    margin: 0;
    padding: 0;
}

.nav-item a {
    margin: 0;
    padding: 35px;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";
    color: #fddd72;
}

.nav-item a i {
    display: block;
    font-size: 25px;
}

/*------------------------------------------------ Coaching Page*/

/*------------------------------------------------ Coach Section*/

#coach-section {
    position: relative;
    margin: auto;
    padding: 50px;
    width: 75%;
    background-color: rgb(120, 153, 207);
}

.coach-info {
    margin: auto;
    padding: 20px;
}

.coach-image {
    margin: auto;
}

.coach-image img {
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%;
}

/*------------------------------------------------ Background Section*/

#background-section {
    position: relative;
    margin: auto;
    padding: 50px;
    width: 75%;
    background-color: rgb(224, 97, 72);
}

.background-info {
    margin: auto;
    padding: 20px;
}

.background-image {
    margin: auto;
}

.background-image img{
    margin: 0;
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%;
}

/*------------------------------------------------ Tried And Tested Section*/

#tried-and-tested-section {
    position: relative;
    margin: auto;
    padding: 50px;
    width: 75%;
    background-color: rgb(109, 117, 117);
}

.tried-and-tested-info {
    margin: auto;
    padding: 20px;
}

.tried-and-tested-image {
    margin: auto;
}

.tried-and-tested-image img {
    margin: 0;
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%;
}

/*------------------------------------------------ Coaching Page */

/*------------------------------------------------ Why Life Coaching Section*/

#why-life-coaching-section {
    position: relative;
    margin: auto;
    padding: 50px;
    width: 75%;
    background-color: rgb(71, 101, 150);
}

.why-life-coaching {
    margin: auto;
    padding: 20px;
}

.why-life-coaching-image img{
    margin: 0;
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%; 
}

/*------------------------------------------------ What To Expect Section*/

#what-to-expect-section {
    position: relative;
    margin: auto;
    padding: 50px;
    width: 75%;
    background-color: rgb(224, 97, 72);
}

.what-to-expect {
    margin: auto;
    padding: 20px;
}

.what-to-expect li {
    margin: 0;
    padding-left: 40px;
    font-size: 18px;
}

.what-to-expect-image {
    height: auto;
    width: 240px;
}

.what-to-expect-image img {
    margin: auto;
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%; 
}

/*------------------------------------------------ How We Have Helped Section*/

#how-we-have-helped-section {
    margin: auto;
    padding: 50px;
    width: 75%;
    background-color: rgb(109, 117, 117);
}

#how-we-have-helped-section hr {
    margin: auto;
    width: 50%;  
}

.first-test-row div {
    margin: auto;
    height: 250px;
    width: 380px;
    padding: 45px;
    border: 1px solid #798383;
    border-radius: 5%;
    background-color: rgb(38, 162, 181, 0.3);
}

.second-test-row div {
    margin: auto;
    height: 250px;
    width: 380px;
    padding: 35px;
    border: 1px solid #798383;
    border-radius: 5%;
    background-color: rgb(38, 162, 181, 0.3);
}

.divider {
    margin: 30px;
}

/*------------------------------------------------ Contact Page */

/*------------------------------------------------ Form Section*/

#form-section {
    position: relative;
    height: 120vh;
    background-color: rgb(71, 101, 150, 0.3);
}

.form {
    margin: 10px;
    height: 100%;
    background-color: rgb(38, 162, 181, 0.2);
    border: 5px solid #798383;
    border-radius: 5%;
}

.contact-item {
    display: block;
}

.button-container {
    vertical-align: middle;
}

.find-us-content {
    margin: 10px;
    height: 100%;
    background-color: rgb(38, 162, 181, 0.2);
    border: 5px solid #798383;
    border-radius: 5%;
}

/*------------------------------------------------ Map Section*/
.mapouter {
    margin: 30px;
    position: relative;
    text-align: right;
    height: auto;
    width: 100%;
}

#gmap-canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

#gmap-canvas iframe {
    width: 100%; 
    height: 100%;
    
}

/*------------------------------------------------ Footer */


#footer {
    margin: 0;
    bottom: 0;
    min-height: 200px;
    text-align: center;
    background-color: #303333;
}

.footer-menu {
    padding-top: 25px;
}

.footer-item {
    margin: 0;
}

#footer a {
    color: #fddd72;
    font-family: "Roboto";
    font-size: large;
    text-decoration: none;
    padding: 15px;
}

.footer-contact {
    color: #fddd72;
    font-family: "Roboto";
    padding: 15px;
}

.footer-copyright {
    color: #fddd72;
    font-family: "Roboto";
    font-weight: 200;
}



