/*------------------------------------------------ colors */

.bg-color-title {
    background-color: #7e93b6;
}

.bg-color-sub-title {
    background-color: #E06148;
}

.bg-color-nav {
    background-color: #798383;
}

/*------------------------------------------------ Text Elements */

h3 {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
    padding-top: 60px;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

em {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

/*------------------------------------------------ header */

header {
    margin: 0;
}

.title {
    height: 125px;
    font-family: "Lexend" sans-serif;
    font-weight: 400;
    font-size: 50px;
    margin: 0;
    padding-top: 30px;
    padding-left: 40px;
    color: #fddd72;
}

.sub-title {
    height: 125px;
    margin: 0;
    padding-left: 45px;
    padding-top: 35px;
    font-size: 35px;
    font-family: "Roboto";
    font-weight: 400;
    color: #fddd72;
}

.logo-header {
    background: url(../images/logo-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 250px;
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.nav-menu {
    font-size: 0;
}

.nav-item {
    height: 100px;
    padding: 28px;
    text-align: center;
    font-size: 20px;
}

.nav-item a {
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";
    color: #fddd72;
    height: 100px;
}

.nav-item a i {
    display: block;
    font-size: 25px;
}

/*------------------------------------------------ Coaching Page*/

/*------------------------------------------------ Coach Section*/

#coach-section {
    position: relative;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(71, 101, 150, 0.3);
}

#coach-section p {
    margin: 0;
    padding: 50px;
}

.coach-image {
    margin: 0;
}

.coach-image img {
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%;
}

/*------------------------------------------------ Background Section*/

#background-section {
    position: relative;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(224, 97, 72, 0.3);
}

#background-section p {
    margin: 0;
    padding: 50px;
}

#background-section em {
    margin-left: 50px;
}

.background-image img{
    margin: 0;
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%;
}

/*------------------------------------------------ Tried And Tested Section*/

#tried-and-tested-section {
    position: relative;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(109, 117, 117, 0.3);
}

#tried-and-tested-section p {
    margin: 0;
    padding: 50px;
}

.tried-and-tested-image img {
    margin: 0;
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%;
}

/*------------------------------------------------ Coaching Page */

/*------------------------------------------------ Why Life Coaching Section*/

#why-life-coaching-section {
    position: relative;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(71, 101, 150, 0.3);
}

.why-life-coaching {
    margin: 0;
    padding: 50px;
}

.why-life-coaching-image img{
    margin: 0;
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%; 
}

/*------------------------------------------------ What To Expect Section*/

#what-to-expect-section {
    position: relative;
    margin: 0;
    min-height: 100vh;
    background-color: rgb(224, 97, 72, 0.3);
}

.what-to-expect p{
    margin: 0;
    padding: 50px;
}

.what-to-expect li {
    margin: 0;
    padding-left: 40px;
    font-size: 18px;
}

.what-to-expect-image {
    height: 300px;
    width: 300px;
}

.what-to-expect-image img {
    margin-left: 40px;
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%; 
}

/*------------------------------------------------ How We Have Helped Section*/

#how-we-have-helped-section {
    margin: 0;
    min-height: 150vh;
    background-color: rgb(109, 117, 117, 0.3);
}

#how-we-have-helped-section h3 {
    padding: 60px;
}

#how-we-have-helped-section hr {
    margin: auto;
    padding: 10px;
    width: 50%;  
}

#how-we-have-helped-section span {
    margin: 0;
}

.first-test-row div {
    margin: auto;
    padding: 30px;
    border: 1px solid #798383;
    border-radius: 5%;
    background-color: rgb(38, 162, 181, 0.2);
}

.second-test-row div {
    margin: auto;
    padding: 30px;
    border: 1px solid #798383;
    border-radius: 5%;
    background-color: rgb(38, 162, 181, 0.2);
}

.testimonial p {
    margin: 0;
    text-align: center;
}

.divider {
    margin: 40px;
}

/*------------------------------------------------ Contact Page */

/*------------------------------------------------ Form Section*/

#form-section {
    position: relative;
    height: 100vh;
    background-color: rgb(71, 101, 150, 0.3);
}

.form {
    margin: 10px;
    height: 100%;
    background-color: rgb(38, 162, 181, 0.2);
}

.contact-item {
    display: block;
}

.find-us-content {
    margin: 10px;
    height: 100%;
    background-color: rgb(38, 162, 181, 0.2);
}

/*------------------------------------------------ Map Section*/
.mapouter {
    margin: 30px;
    position: relative;
    text-align: right;
    height: auto;
    width: 100%;
}

#gmap-canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
}

#gmap-canvas iframe {
    width: 100%; 
    height: 100%;
    
}

/*------------------------------------------------ Footer */


#footer {
    margin: 0;
    bottom: 0;
    min-height: 200px;
    text-align: center;
    background-color: #3d4242;
}

.footer-menu {
    padding-top: 25px;
}

.footer-item {
    margin: 0;
}

#footer a {
    color: #fddd72;
    font-family: "Roboto";
    font-size: large;
    text-decoration: none;
    padding: 15px;
}

.footer-contact {
    color: #fddd72;
    font-family: "Roboto";
    padding: 15px;
}

.footer-copyright {
    color: #fddd72;
    font-family: "Roboto";
    font-weight: 200;
}



