/*------------------------------------------------ colors */

.bg-color-title {
    background-color: #7e93b6;
}

.bg-color-sub-title {
    background-color: #E06148;
}

/*------------------------------------------------ Text Elements */

h3 {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    text-align: center;
    margin: auto;
    padding: 30px;
    color: rgb(231, 223, 223);
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: rgb(231, 223, 223);
}

em {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
}

/*------------------------------------------------ header */

body {
    background-image: url(../images/Pebbles.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: auto;
    width: auto;
}

.title-container {
    background-color: rgb(84, 122, 182);
    width: 100%;
}

.sub-title-container {
    background-color: rgb(215, 94, 70);
    width: 100%;
}

.coach-title {
    margin: auto 0;
    padding-top: 10px;
    padding-left: 20px;
    height: 75px;
    font-family: "Lexend" sans-serif;
    font-weight: 400;
    color: rgb(231, 223, 223);
}

.sub-title {
    margin: auto 0;
    padding-top: 15px;
    padding-left: 20px;
    height: 75px;
    font-family: "Roboto";
    font-weight: 400;
    color: rgb(231, 223, 223);
}

.logo {
    height: 220px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.navbar {
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    background-color: rgb(120, 120, 120);
}

.navbar ul {
    width: 100%;
}

.navbar li {
    font-size: 18px;
}

.hvr-shutter-out-horizontal {
    background-color: rgb(120, 120, 120);
    height: 70px;
}

.hvr-shutter-out-horizontal:before {
    background-color: rgb(0, 0, 0, 0.1);
}

.nav-item a {
    margin:auto;
    padding: 15px;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Roboto";
    color: #fddd72;
}

.nav-item a i {
    display: block;
    font-size: 18px;
}

/*------------------------------------------------ Coaching Page*/

/*------------------------------------------------ Coach Section*/

#coach-section {
    position: relative;
    margin: auto;
    padding: 40px;
    width: 75%;
    background-color: rgb(120, 120, 120);
}

.coach-info {
    margin: auto;
    padding: 20px;
}

.coach-image {
    margin: auto;
}

.coach-image img {
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%;
}

/*------------------------------------------------ Background Section*/

#background-section {
    position: relative;
    margin: auto;
    padding: 40px;
    width: 75%;
    background-color: rgb(120, 120, 120);
}

.background-info {
    margin: auto;
    padding: 20px;
}

.background-image {
    margin: auto;
}

.background-image img{
    margin: 0;
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%;
}

/*------------------------------------------------ Tried And Tested Section*/

#tried-and-tested-section {
    position: relative;
    margin: auto;
    padding: 40px;
    width: 75%;
    background-color: rgb(120, 120, 120);
}

.tried-and-tested-info {
    margin: auto;
    padding: 20px;
}

.tried-and-tested-image {
    margin: auto;
}

.tried-and-tested-image img {
    margin: 0;
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%;
}

/*------------------------------------------------ Coaching Page */

/*------------------------------------------------ Why Life Coaching Section*/

#why-life-coaching-section {
    position: relative;
    margin: auto;
    padding: 40px;
    width: 75%;
    background-color: rgb(120, 120, 120);
}

.why-life-coaching {
    margin: auto;
    padding: 20px;
}

.why-life-coaching-image {
    margin: auto;
}

.why-life-coaching-image img{
    margin: 0;
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%; 
}

/*------------------------------------------------ What To Expect Section*/

#what-to-expect-section {
    position: relative;
    margin: auto;
    padding: 40px;
    width: 75%;
    background-color: rgb(120, 120, 120);
}

.what-to-expect {
    margin: auto;
    padding: 20px;
}

.what-to-expect li {
    margin: 0;
    padding-left: 40px;
    font-size: 18px;
}

.what-to-expect-image {
    margin: auto;
}

.what-to-expect-image img {
    margin: auto;
    height: auto;
    width: 100%;
    border: solid #798383 5px;
    border-radius: 5%; 
}

/*------------------------------------------------ How We Have Helped Section*/

#how-we-have-helped-section {
    margin: auto;
    padding: 40px;
    width: 75%;
    background-color: rgb(120, 120, 120);
}

#how-we-have-helped-section hr {
    margin: auto;
    width: 50%;
}

.first-test-row div {
    margin: auto;
    height: 250px;
    width: 380px;
    padding: 45px;
    border: 1px solid #798383;
    border-radius: 5%;
    background-color: rgb(38, 162, 181, 0.3);
}

.second-test-row div {
    margin: auto;
    height: 250px;
    width: 380px;
    padding: 35px;
    border: 1px solid #798383;
    border-radius: 5%;
    background-color: rgb(38, 162, 181, 0.3);
}

.divider {
    margin: 30px;
}

/*------------------------------------------------ Contact Page */

/*------------------------------------------------ Form Section*/

#form-section {
    margin: auto;
    padding: 40px;
    width: 75%;
    background-color: rgb(120, 120, 120);
}

.form-container {
    margin: 0 auto;
    background-color: rgb(38, 162, 181, 0.2);
    border: 5px solid #798383;
    border-radius: 5%;
}

.form legend {
    margin: auto;
}

.contact-item {
    display: block;
    max-width: 300px;
    padding: 0;
    margin: 0 auto;
}

.button-container {
    margin: 0 auto;
    text-align: center;
    padding: 30px;
}

.mapouter {
    margin: 0 auto;
    text-align: center;
    background-color: rgb(38, 162, 181, 0.2);
    border: 5px solid #798383;
    border-radius: 5%;
}

#gmap-canvas {
    margin: 20px;
    overflow: hidden;
    background: none !important;
}

#gmap-canvas iframe {
    width: 300px; 
    height: 300px;
}

/*------------------------------------------------ FAQs Section */

#faqs-section {
    margin: auto;
    padding: 40px;
    width: 75%;
    background-color: rgb(120, 120, 120);
}

/*------------------------------------------------ Footer */


#footer {
    margin: 0;
    bottom: 0;
    min-height: 200px;
    text-align: center;
    background-color: #303333;
}

.footer-menu {
    padding-top: 25px;
}

.footer-item {
    margin: 0;
}

#footer a {
    color: #fddd72;
    font-family: "Roboto";
    font-size: large;
    text-decoration: none;
    padding: 15px;
}

.footer-contact {
    color: #fddd72;
    font-family: "Roboto";
    padding: 15px;
}

.footer-copyright {
    color: #fddd72;
    font-family: "Roboto";
    font-weight: 200;
}



